<div class="result-container">
  <div class="card">
    <h1>Result</h1>

    <% if @included %>
      <% if @english_word %>
        <h1><strong>Congratulations!</strong> <%= @word %> is a valid English word!</h1>
      <% else %>
        <p>Sorry but <strong><%= @word %></strong> does not seem to be a valid English word...</p>
      <% end %>
    <% else %>
      <p>Sorry but <strong><%= @word %></strong> can't be built out of <%= @letters.join(", ") %></p>
    <% end %>

    <%= link_to "Play again", new_path %>
    </div>
  </div>
